@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');


body {
  background-color: #000000;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


header {
  position: 'fixed';
  top: '0';
  display: 'flex';
  width: 'full';
  align-items: 'center';
  justify-content: 'between';
  z-index: 50;
}